<p>Input the user name here</p>
<p>And the related film names will be displayed below:</p>

<label>Please input the name here: </label>
<!-- use "Luke Skywalker" for test -->
<input [formControl]="searchName" />
<button (click)="search()">Submit</button>

<div *ngIf="filmList.length">
  <table>
    <thead>
      <th>Title</th>
      <th>Year</th>
    </thead>
    <tbody>
      <tr *ngFor="let film of filmList">
        <td>{{ film.title }}</td>
        <td>{{ film.release_date }}</td>
      </tr>
    </tbody>
  </table>
</div>
